<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_proto_02">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".anagramMenu"></activity>
        <activity android:name=".bodyTest" />
        <activity android:name=".shapesTest" />
        <activity android:name=".colourTest" />
        <activity android:name=".animalTest" />
        <activity android:name=".bodyOptions" />
        <activity android:name=".shapesOptions" />
        <activity android:name=".animalsOptions" />
        <activity android:name=".numbersOptions" />
        <activity android:name=".coloursOptions" />
        <activity android:name=".MathGame" />
        <activity android:name=".body" />
        <activity android:name=".TestAnagram" />
        <activity android:name=".PicMatching" />
        <activity android:name=".shapes_test_level_1" />
        <activity android:name=".animals" />
        <activity android:name=".colours" />
        <activity android:name=".numbers" />
        <activity android:name=".shapes" />
        <activity android:name=".scroll_options" />
        <activity android:name=".Register" />
        <activity android:name=".PicMatchingMenu" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".SingleImageViewActivity" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>