<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_proto_02">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScoreManager"></activity>
        <activity android:name=".Games" />
        <activity android:name=".Behavior" />
        <activity android:name=".Portal" />
        <activity
            android:name=".anagramMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bodyTest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shapesTest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".colourTest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".animalTest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bodyOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shapesOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".animalsOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".numbersOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".coloursOptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MathGame"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".body"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestAnagram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PicMatching"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shapes_test_level_1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".animals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".colours"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".numbers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".shapes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".scroll_options" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PicMatchingMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CameraActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleImageViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>